body {
  background: #1a1a1a;
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.card {
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.price {
  font-weight: bold;
}
.carousel-inner {
  width: 100%;
  object-fit: contain;
}
.carousel-item {
  height: 100%;
  width: 100%;
  text-align: center;
}
.carousel-item img {
  max-width: 100vh;
  max-height: 500px;
  width: auto;
  height: auto;
  margin: 0 auto;
  object-fit: contain;
  display: inline-block;
}
h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
}
.subtitle {
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
}
